{% extends "registration/base.html" %}

{% load bootstrap_tags %}

{% block body %}

    <div class="container">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-4 col-sm-offset-4">
                <h3>Registration</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    Already have an account? <a href="{% url 'login' %}">Login Here</a>
                </div>

                <form action="" method="POST" class="">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}

                    <div class="form-group">


                        <button type="submit" class="btn btn-primary">Register</button>
                        <button class="btn btn-link pull-right" type="button" data-toggle="modal" data-target="#overrideModal">Override</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="overrideModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Override</h4>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'register_override' %}">
                {% csrf_token %}
                {{ override_form|as_bootstrap }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <div class="clearfix"></div>
                </div>

            </form>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock body %}