{% extends "registration/base.html" %}

{% load bootstrap_tags %}
{% load static %}

{% block body %}

    <div class="container">
        <div class="row" id="verification-download">

            <div class="col-sm-6 col-sm-offset-3">

                <h4>Welcome to GottaCon, {{ registered_user.first_name }}</h4>

                <div style="margin-top: 10px; margin-bottom: 20px;">
                    <p>
                        In order to join the network you must download and run this program below. <br />
                    </p>

                    <p>
                        This will screen your computer for the following requirements:
                        <ul>
                            <li>Antivirus Installed</li>
                            <li>Firewall Enabled</li>
                            <li>File and Printer Sharing Disabled</li>
                            <li>DHCP Enabled</li>
                        </ul>
                    </p>
                </div>

                <div>
                    <a href="{% url 'verify_dl' %}" class="btn btn-primary btn-block" id="initial-download">Download</a>
                </div>

                <div style="margin-top: 20px;" class="alert alert-info">
                    <p>
                        If you are a mac user or are having issues, you will have to be manually verified.
                    </p>
                    <p>
                        Contact the nearest LAN staff for assistance.
                    </p>

                </div>

            </div>
        </div>

        <div class="row" style="display: none;" id="please-wait-div">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-warning" style="text-align: center;">
                    <p>Please run the validation tool.</p>
                    <p>Once it has analyzed your computer it will display the results here.</p>
                    <p><a href="{% url 'verify_dl' %}">Retry Download</a> </p>
                </div>
            </div>
        </div>

        <div class="row" style="display: none;" id="results-div">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert" id="firewall-status">
                    <strong>Firewall:</strong> <span class="message">Success</span>
                </div>
                <div class="alert" id="antivirus-status">
                    <strong>Antivirus:</strong> <span class="message"> Antivirus is out of date.</span>
                </div>
                <div class="alert" id="dhcp-status">
                    <strong>DHCP:</strong> <span class="message"> DHCP configuration error detected.</span>
                </div>
            </div>
        </div>


        <div style="text-align: center;">
            <a href="#" data-toggle="modal" data-target="#overrideModal">Enter override code</a>
        </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="overrideModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Override</h4>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'override_verification' %}">
                {% csrf_token %}
                {{ override_form|as_bootstrap }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <div class="clearfix"></div>
                </div>

            </form>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock body %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
{% endblock scripts %}