{% extends "registration/base.html" %}

{% load bootstrap_tags %}
{% load static %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <h4>Welcome to GottaCon, {{ registered_user.first_name }}</h4>

                <p>

                </p>
            </div>

        </div>
    </div>

{% endblock body %}


{% block scripts %}
    <!--
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    -->
{% endblock scripts %}
